.files {
  height: 100vh;
  overflow: auto;
  /* border: 1px solid black; */
  width: 350px;
}

.browser {
  /* border: 1px solid black; */
  width: 100%;
}

.image-viewer {
  height: calc(100% - 53px);
}

.boton {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 5px;

  cursor: pointer;
}

.boton:hover {
  background-color: #c0def0;
}

.span-plano {
  width: 20px;
  padding: 2px;
  font-size: small;
  text-align: center;
  color: white;

  background: #3f51b5;
  border-radius: 20px;
  margin-right: 5px;
}

.span-archivo {
  width: auto;
  font-weight: bold;
}

.boton-seleccionado {
  background-color: #a9e38b;
}
